@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,800;1,900&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body{
  background-color: #E2EBD9;

}

/* Homepage CSS */
ul {
    font-size: 26px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
 .nav-items li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }

  .logo {
    color: white;
    background-color: #04AA6D;
    text-align: center;
    padding: 14px 16px;
    float: left;
    text-decoration: none;
    text-transform: uppercase;
    
  }

  .logo:hover {
   background-color: #005838;  
  }

  .banner {
    margin-top: 10px;
    position: relative;
    text-align: center;
    color: white;
  }

  .banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px;
    border-radius: 10px;
  }

  .content-box{
    column-count: 3;
    column-gap: 40px;
    column-rule: 1px solid lightblue;
  }

  .wrapper{
    padding: 5px;
    max-width: 100%;
    width: 95%;
    margin: 20px auto;
  }

  header {
    padding: 0 15px;
    text-align: center;
    font-size: 21px;
  }
  .columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px 0;
  }

  .c-title {
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    background-color: #04AA6D;
    color: #fff;
    border-radius: 10px;
  } 
  .column {
    flex: 1;
    margin: 2px;
    padding: 50px;
    transition:  0.3s;
  }

  .column:first-child{
    max-width: 25%;
    text-align: center;

  }

  .column:last-child{
    max-width: 20%;
  }

.price {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid #04AA6D;
    margin: 5% auto 0 auto;
    text-align: center;
}

.price h2 {
    font-size: 38px;
    color: #04AA6D;
}

.deals{
    margin-top: 5%;
}

.deals h4{
    text-align: center;
    text-transform: uppercase;
    border: 3px solid #00a267;
    border-radius: 10px;
    padding: 10px;
    color: #00a267;

}

.column p{
  font-size: 20px;
}


.btn{
    text-decoration: none;
    background: #04AA6D;
    padding: 20px 30px;
    font-size: 20px;
    color: #fff;
    border-radius: 10px;

}

.btn:hover{
    background: #005838;
}

.s-list {
  text-align: center;
  text-transform: uppercase;
  border: 3px solid #00a267;
  border-radius: 10px;
  padding: 10px;
  color: #00a267;
}

.footer {
  position:relative
  width: 100%;
  height: 50px;
  background-color: #00a267;
  color: #fff;
  text-align: center;
}

.footer p {
  padding-top: 10px;
  font-size: 26px;
}

/* About page CSS */

.about-body {
  margin: 50px;
  width: 90%;
}

.about-text p{
  font-size: 26px;
}

.about-text img{
  float: left;
  height: 400px;
  margin: 26px;
  padding-top: 50px;
}

.l-columns{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border: 1px solid black;
}

.l-column {
  flex: 1;
  margin: 2px;
  padding: 50px;
  transition:  0.3s;
}

.l-column p {
  font-size: 20px;
}

.a-title {
  text-align: center;
  }

  /* Contact  page CSS */

 .contact-box{
  display: flex;
  flex-direction: column;
  align-items: center;
	max-width: 50%;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
  margin-top: 6%;
  margin-bottom: 6%;
  margin-left: 25%;
}

.field{
	width: 80%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 10px 20px;
	font-size: 1.1rem;
	margin-bottom: 22px;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.field:focus{
  border: 2px solid rgba(30,85,250,0.47);
  background-color: #fff;
}

.c-btn{
  width: 70%;
	padding: 20px 30px;
	background-color: #2ecc71;
	color: #fff;
	font-size: 20px;
	border: none;
	transition: .3s;
  margin-bottom: 30px;
}

.c-btn:hover{
  background: #005838;
}


/* Gallery CSS */
.g-container{
  padding: 32px;
}
.slider-wrapper{
  position: relative;
  max-width: 768px;
  margin: 0 auto;
}

.slider{
  display: flex;
  aspect-ratio: 16/9;
  overflow-x: auto;
  scroll-behavior: smooth;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
  overflow: hidden;
}

.slider img{
  flex: 1 0 100%;
  scroll-snap-align: start;
}

.slider-nav{
  display: flex;
  column-gap: 16px;
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-nav a:hover{
  opacity: 1;
}

